footer
  .container.text-center
    p.pull-left © 2019 Looking For Warcraft 
    //- a.github-button.float-right(href="https://github.com/microsoft/typescript-node-starter", data-icon="octicon-star", data-show-count="true", aria-label="Star microsoft/typescript-node-starter on GitHub") Star

    br
    p.pull-left
      span(style="font-size: 10px; color: #DDD;") World of Warcraft and Blizzard Entertainment are trademarks or registered trademarks of Blizzard Entertainment, Inc. in the U.S. and/or other countries. This site is in no way associated with Blizzard Entertainment.