extends layout

block content
  h1 
    span(style="font-family: 'wowFont';") L
    |ooking 
    span(style="font-family: 'wowFont';") F
    |or 
    span(style="font-family: 'wowFont';") W
    |arcraft
  p.lead A Looking For Group (LFG) system for WoW Classic
  img(src="images/classic-170x73.png", alt="WoW Classic Logo")
  hr
  .row
    .col-sm-6
      h2 What is "Looking For Group"?
      p Looking for group is a system that (in retail WoW) matches you together with other players who wish to do the same dungeon. It helps in finding healers, tanks and DPS and automatically creates a group.
      br
      p In order to maintain some of the classic experience, LFG here is kind of different than it is on retail, but assists players finding eachother.
      p
        a.btn.btn-secondary(href='#', role='button') Read more »
    .col-sm-6
      h2 How does this work?
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-secondary(href='#', role='button') View details »
    .col-sm-6
      h2 How do I get started?
      p First of all, Looking for Warcraft is totally free. You get started by creating an account, and registering information about your WoW Classic Character. Once you have done this and verified your email (to prevent spam), you will be able to match with other players.
      p
        a.btn.btn-secondary(href='/signup', role='button') Create an account »
    .col-sm-6
      h2 Who made this?
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-secondary(href='#', role='button') View details »